<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/about.css">
        <title>Signa Link</title>
    </head>
    <body>
        <div class="first-paragraph-div">
            <h1>WHAT IS SIGNA LINK?</h1>
            <p class="first-paragraph-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget ex sed lectus molestie tristique eget vel mauris. Nulla sed vestibulum nunc. Vestibulum nec tellus in neque rhoncus sagittis. Proin semper luctus scelerisque. Nam id tempor neque. Phasellus quis tincidunt eros. Etiam nulla risus, congue a turpis sit amet, ultrices scelerisque augue. Mauris et molestie lectus. Pellentesque turpis orci, euismod sit amet sapien in, pharetra finibus ipsum. Vivamus tincidunt porttitor orci, nec vestibulum sem venenatis eget. Vivamus suscipit ullamcorper neque eu tincidunt. Proin a mauris sem.

                Duis porta quam ut augue fringilla, ut fermentum purus convallis. Proin bibendum ornare vehicula. Donec id nisl a quam hendrerit sagittis. Pellentesque tincidunt posuere arcu id ullamcorper. Suspendisse aliquet id nulla sed venenatis. Morbi sit amet nibh vel eros convallis pretium. Nulla fringilla turpis vitae sem vestibulum, volutpat interdum quam finibus. Nam a tortor at turpis pellentesque euismod. Nunc eget placerat massa, ut lobortis magna. Integer ultrices mauris et hendrerit eleifend. Phasellus eros mauris, consectetur sit amet elementum eget, feugiat ac sem. Nullam imperdiet mattis ullamcorper.

                Suspendisse rutrum a lacus in congue. Aenean pellentesque nec purus et tempus. Etiam luctus sem vel lorem venenatis eleifend. Nam pretium, justo id elementum maximus, nisl quam finibus lectus, vel ultrices ante nisl sit amet enim. Donec justo ex, blandit non metus ac, ornare blandit nisl. Morbi eu est lobortis, venenatis sem sed, vestibulum ligula. In ac tincidunt odio. Integer sit amet nulla nibh. Duis eu posuere lacus. Maecenas viverra tincidunt dolor vitae fringilla. Nullam tristique mollis cursus. Mauris dapibus maximus velit, quis dictum ex mattis quis.

                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec in sollicitudin magna. Fusce scelerisque semper varius. Praesent sagittis vitae turpis dapibus cursus. Proin venenatis tristique nisl convallis consectetur. Quisque orci diam, gravida ut vestibulum at, euismod eget purus. Sed sit amet dui vitae orci facilisis egestas. Nulla nisi turpis, tristique eu ullamcorper sed, cursus sit amet quam. Nam nec iaculis nunc, maximus placerat massa. Cras ornare elit id diam luctus, in congue nibh maximus. Integer tempor, orci sit amet sollicitudin posuere, odio urna lacinia nunc, quis pellentesque est nunc vel lacus. Vestibulum posuere arcu ut orci accumsan placerat. Donec hendrerit luctus massa, ut pellentesque magna tristique id. In lacinia blandit hendrerit. Aenean tempor vehicula dictum. Nam massa est, hendrerit at vehicula vel, gravida sit amet neque.

                Etiam id felis id neque ullamcorper efficitur in ut est. Fusce ac aliquet est. Aenean suscipit mauris nisi, eget pretium metus sollicitudin quis. Etiam non pulvinar augue. Suspendisse dignissim nunc sed orci eleifend, ut molestie urna sollicitudin. Morbi vel risus id quam ultricies viverra porta ut leo. Donec scelerisque mattis lorem, auctor facilisis quam viverra elementum.
            </p>
            <img class="first-paragraph-image">
        </div>
        <div class="second-paragraph-div">
            <h2>ABOUT US</h2>
            <p class="second-paragraph-p">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget ex sed lectus molestie tristique eget vel mauris. Nulla sed vestibulum nunc. Vestibulum nec tellus in neque rhoncus sagittis. Proin semper luctus scelerisque. Nam id tempor neque. Phasellus quis tincidunt eros. Etiam nulla risus, congue a turpis sit amet, ultrices scelerisque augue. Mauris et molestie lectus. Pellentesque turpis orci, euismod sit amet sapien in, pharetra finibus ipsum. Vivamus tincidunt porttitor orci, nec vestibulum sem venenatis eget. Vivamus suscipit ullamcorper neque eu tincidunt. Proin a mauris sem.

                Duis porta quam ut augue fringilla, ut fermentum purus convallis. Proin bibendum ornare vehicula. Donec id nisl a quam hendrerit sagittis. Pellentesque tincidunt posuere arcu id ullamcorper. Suspendisse aliquet id nulla sed venenatis. Morbi sit amet nibh vel eros convallis pretium. Nulla fringilla turpis vitae sem vestibulum, volutpat interdum quam finibus. Nam a tortor at turpis pellentesque euismod. Nunc eget placerat massa, ut lobortis magna. Integer ultrices mauris et hendrerit eleifend. Phasellus eros mauris, consectetur sit amet elementum eget, feugiat ac sem. Nullam imperdiet mattis ullamcorper.

                Suspendisse rutrum a lacus in congue. Aenean pellentesque nec purus et tempus. Etiam luctus sem vel lorem venenatis eleifend. Nam pretium, justo id elementum maximus, nisl quam finibus lectus, vel ultrices ante nisl sit amet enim. Donec justo ex, blandit non metus ac, ornare blandit nisl. Morbi eu est lobortis, venenatis sem sed, vestibulum ligula. In ac tincidunt odio. Integer sit amet nulla nibh. Duis eu posuere lacus. Maecenas viverra tincidunt dolor vitae fringilla. Nullam tristique mollis cursus. Mauris dapibus maximus velit, quis dictum ex mattis quis.

                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec in sollicitudin magna. Fusce scelerisque semper varius. Praesent sagittis vitae turpis dapibus cursus. Proin venenatis tristique nisl convallis consectetur. Quisque orci diam, gravida ut vestibulum at, euismod eget purus. Sed sit amet dui vitae orci facilisis egestas. Nulla nisi turpis, tristique eu ullamcorper sed, cursus sit amet quam. Nam nec iaculis nunc, maximus placerat massa. Cras ornare elit id diam luctus, in congue nibh maximus. Integer tempor, orci sit amet sollicitudin posuere, odio urna lacinia nunc, quis pellentesque est nunc vel lacus. Vestibulum posuere arcu ut orci accumsan placerat. Donec hendrerit luctus massa, ut pellentesque magna tristique id. In lacinia blandit hendrerit. Aenean tempor vehicula dictum. Nam massa est, hendrerit at vehicula vel, gravida sit amet neque.

                Etiam id felis id neque ullamcorper efficitur in ut est. Fusce ac aliquet est. Aenean suscipit mauris nisi, eget pretium metus sollicitudin quis. Etiam non pulvinar augue. Suspendisse dignissim nunc sed orci eleifend, ut molestie urna sollicitudin. Morbi vel risus id quam ultricies viverra porta ut leo. Donec scelerisque mattis lorem, auctor facilisis quam viverra elementum.
            </p>
            <img class="second-paragraph-image">
        </div>
        <div class="bottom-bar">
            <a href="/" class="app-link">
                App
            </a>
            <a href="/about" class="about-link">
                About us
            </a>
            <a href="https://github.com/Staplerr/Signa-Link" class="github-link">
                GitHub
            </a>
            <a href="/dataset" class="dataset-link">
                Dataset contribution
            </a>
        </div>
    </body>
</html>